body {
  background-image: url(images/pattern.png);
  background-color: beige;
  size: cover;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
}

.header {
  background-color: #c8b1d3;
  padding: 10px;
  text-align: center;
}
.logo {
  width: 40px;
  margin-right: 10px;
  position: block;
  display: block;
}
.title {
  size: 24px;
  color: #6f4e8b;
}
.container {
  display: flex;
  margin: 20px;
}
.sidebar {
  font-size: 1.2em;
  color: #333;
  margin-bottom: 10px;
}
.logo-container {
  margin-bottom: 9px;
  flex-direction: column;
}

.search-box {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;

}

#content img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  align-content: right;
}

.content {
  width: 70%;
  padding-left: 20px;
}
.content h1 {
  color: #866fa3;
  font-size: 2.5em;
}

#content h2 {
  color: #333;
  font-size: 1.8em;
  margin-bottom: 10px;
}

#content p {
  font-size: 1.1em;
  color: #333;
  line-height: 1.6;
  margin-bottom: 20px;
}

.shop-image {
  width: 50%;
  height: 400px;
  max-width: 300px;
  display: block;
  margin: 0 auto 20px auto;
  border-radius: 5px;
}
.promo-image {
  width: 100%;
  max-width: 300px;
  display: block;
  margin: 10px 0;
}
.footer {
  text-align: center;
  padding: 20px;
  background-color: #f2f2f2;
  border-top: 1px solid#ccc;
  margin-top: 20px;
}
